<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbord</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <!-- offcanvas trigger -->
        <button
          class="navbar-toggler me-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="offcanvasExample"
          aria-controls="offcanvasExample"
        >
          <span
            class="navbar-toggler-icon"
            data-bs-target="offcanvasExample"
          ></span>
        </button>

        <!-- offcavas trigger -->
        <a class="navbar-brand fw-bold text-uppercase me-auto" href="/"
          >Dashboard</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="post" action="/">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="Search"
            />
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- offcanvas -->

    <div
      class="offcanvas offcanvas-start bg-dark text-white sidebar-nav"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="small fw-bold text-white text-uppercase px-3">
                CORE
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="my-4">
              <hr class="dropdown-divider" />
            </li>
            <li class="nav-item">
              <div class="small fw-bold text-white text-uppercase px-3">
                Interface
              </div>
            </li>

            <li>
              <a
                class="nav-link px-3 sidebar-Link"
                data-bs-toggle="collapse"
                href="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <span class="me-2">
                  <i class="bi bi-layout-split"></i>
                </span>
                <span>Patient</span>

                <span class="right-icon ms-auto"
                  ><i class="bi bi-chevron-down"></i
                ></span>
              </a>

              <div class="collapse" id="collapseExample">
                <div>
                  <ul class="navbar-nav ps-3">
                    <li>
                      <a
                        href="/home"
                        type="button"
                        class="btn btn-light btn-small"
                      >
                        <i class="bi bi-eye"></i> Liste Patient</a
                      >
                      <a
                        href="/addpatient"
                        type="button"
                        class="btn btn-primary align-self-center"
                      >
                        + add patient</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a
                class="nav-link px-3 sidebar-Link"
                data-bs-toggle="collapse"
                href="#collapseExamplee"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExamplee"
              >
                <span class="me-2">
                  <i class="bi bi-layout-split"></i>
                </span>
                <span>rendez-vous</span>

                <span class="right-icon ms-auto"
                  ><i class="bi bi-chevron-down"></i
                ></span>
              </a>
              <div class="collapse" id="collapseExamplee">
                <div>
                  <ul class="navbar-nav ps-3">
                    <li>
                      <a
                        href="/RDV"
                        type="button"
                        class="btn btn-light btn-small"
                      >
                        <i class="bi bi-eye"></i> Liste RDV</a
                      >
                      <a
                        href="/addrendezvous"
                        type="button"
                        class="btn btn-warning align-self-center"
                      >
                        + add RDV</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <%console.log(rows)%>
      <div class="container pb-5 pt-5">
        <nav aria-label="breadcrumb  ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Edit Patient
            </li>
          </ol>
        </nav>
      </div>
      <div class="container">
        <form
          action="/editpatient/<%= rows[0].ID %>"
          class="row g-3 needs-validation"
          method="post"
        >
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].NOMP %>"
                placeholder="Nom"
                name="NOMP"
                required
              />
              <label for="floatingInput">NOM</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].PRENOMP %>"
                placeholder="PRENOM"
                name="PRENOMP"
                required
              />
              <label for="floatingInput">PRENOM</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].DATE_DE_NAISSANCE.toString().slice(4,15) %>"
                placeholder="DATE DE NAISSANCE"
                name="DATE_DE_NAISSANCE"
                required
              />
              <label for="floatingInput">DATE DE NAISSANCE</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].AGEP %>"
                placeholder="AGE"
                name="AGEP"
                required
              />
              <label for="floatingInput">AGE</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].SEXEP %>"
                placeholder="SEXE"
                name="SEXEP"
                required
              />
              <label for="floatingInput">SEXE</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].ADRESSE %>"
                placeholder="ADRESSE"
                name="ADRESSE"
                required
              />
              <label for="floatingInput">ADRESSE</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].VILLE %>"
                placeholder="VILLE"
                name="VILLE"
                required
              />
              <label for="floatingInput">VILLE</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                value="<%= rows[0].NUM_TEL %>"
                placeholder="NUM TEL"
                name="NUM_TEL"
                required
              />
              <label for="floatingInput">NUM TEL</label>
            </div>
          </div>
          <div class="col-12 d-grid"></div>
          <button class="btn btn-primary" type="submit">submit</button>
        </form>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
